
@media only screen and (max-width: 600px) {

    .Hide_On_Mobile{
        display: none;
    }





    .Header_Div_Img_For_Mabile{
        z-index: -1;
        background: linear-gradient(to right bottom, rgba(255, 250, 243, 0.3), rgba(130, 135, 131, 0.4));
        position: fixed;
        top: 0vh;
        left: 0;
    }

    .header_Content{
        position: fixed;
        height: 100vh;
        width: 100vw;
    }

    .border_Nav{
        z-index: 99 ;
        border: 1px solid rgb(121, 121, 121);
        padding-top: 2%;
        position: fixed;
        top: 2rem;
        margin-left: 80%;
        width: 14vw;
        height: 14vw;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
    }

    .nav_Lines{
        width: 70%;
        height: 2.5px;
        background-color: black;
        margin: 7px auto 0px 13.5%;
    }

    .Header_Div_Logo_Black_Scroll{
        z-index: 1;
        position: fixed; 
        top: 1.3rem;
        left: 0%; 
    }

    .Header_Img_Logo_Black_Scroll{
        z-index: 1;
        height: 7rem;
    }

    .Header_Div_Logo_White_Scroll{
        z-index: 1;
        position: fixed; 
        top:1.3rem;
        left: 0%; 
    }

    .Header_Img_Logo_White_Scroll{
        z-index: 1;
        height: 7rem;
    }

    

    .Header_Div_Logo_Main{
        position: fixed;
        top: 12rem;
        left: 47%; 
        transform: translate(-50%, -50%);
    }


    .Header_Img_Logo_Main{
        height: 15rem; 
    }

    .Header_Text_Animation{
        position: fixed;
        top: 60%;
        left: 52%;
        transform: translate(-50%, -50%);
        text-align: center; 
    }

    .Header_Text_primary{
        color: black;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 6rem; 
    }

    .Header_Text_Primary_Main{
        display: block;
        font-family: 'Charm', cursive;
        font-family: 'Coustard', serif;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        font-size: 3rem;
        font-weight: 650;
        letter-spacing: 3.5rem;
    }

    .Header_Text_Primary_Sab{
        font-family: 'Charm', cursive;
        font-family: 'Coustard', serif;
        display: block;
        animation: moveInRight 1s ease-in-out; 
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 1.5rem;
    }

    .Main_Main_Class{
    }

    .Main_Div_Img_For_Mabile{
        margin-top: 100vh;
        z-index: 10;
        position: relative;
    }

    .Main_Img_Mabile{
        object-fit: cover;
        width: 100vw;
        z-index: 1;
    }

    .Main_Div_Menu{
        z-index: 3;
        width: 100vw;
    }

    .div_About{
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background-color: rgb(121, 121, 121);
    }
    .LineHeaderTitle{
        width: 25vw;
        margin: 0 auto;
        background-color: white;
    }
    
    .LineHeaderSubTitle{
        width: 90vw;
        margin: 0 auto;
        background-color: white;
    }
    
    .divMenu{
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    #footer{
        margin-top: 100vh;
        position: static;
        top: 100vh;
    }

    #footer{
        background-color: aliceblue;
        margin-top: 100vh;
    }
    #contect{
       
    }
    #iconsMainBox{
        margin-top: 10vh;
        width: 100vw;
        margin-left: 15vw;
    }
    .iconsBox{
        width: 20vw;
        float: left;
    }
    .imgIcons{
        width: 10vw;
    }
    #contactTemplet{
        clear:both;
    }
}