
@media only screen and (min-width: 600px) {
    *,
    *::after,
    *::before {
    margin: 0%;
    padding: 0%;
    box-sizing: inherit; }

    html {
    font-size: 62.5%; }

    body {
    box-sizing: border-box; 
    }
    .Hide_On_Pc{
        display: none;
    }
    body{
        padding: 1rem;
    }
    .Header_Main_Class{
        background-image: linear-gradient(to right bottom, rgba(102, 102, 102, 0.349), rgba(253, 253, 253, 0.548)), url("../img/43913221_2522542031305362_7291664536755232144_n(1).jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

}